.footer {
  background: #ffd7ca;
  color: #b84c5a;
  padding: 20px 0;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-content {
  width: 80%;
  margin: auto;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links li {
  display: inline;
}

.footer-links a {
  text-decoration: none;
  color: #b84c5a;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}
