/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  background-color: rgba(10, 10, 10, 0.8);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(178, 160, 160, 0.1);
} 


/* Brand name */
.nav-brand a {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  color: linear-gradient(90deg, #9b87f5 0%, #D946EF 100%);
  text-shadow: 0 0 30px rgba(196, 46, 151, 0.5);
}

/* Links list */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

/* Each nav item */
.nav-links li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color:  #e0e0e0;;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
  position: relative;
  background-color: transparent;
}

/* Hover effect */
.nav-links li a:hover {
  background:  linear-gradient(90deg, #9b87f5 0%, #D946EF 100%);
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(109, 31, 77, 0.4);
  transform: translateY(-1px);
}

/* Active/Selected state */
.nav-links li a.active {
  background: linear-gradient(135deg, #ff4b2b, #ff416c);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 65, 108, 0.5);
}
